.profile-pic{
    height:400px;
    width:300px;
}

body{
    background-image:url("Images/background.jpg");
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}

.centre{
    display:block;
    margin-left:auto;
    margin-right:auto;    
}

.container {
    width: 80%;
    margin: auto;
}

.small-icon
{
    height:25%;
    width:25%;
}

.small-banner{
    height:25%;
    width:30%;
}
